body {
  margin: auto;
  align-content: center;
  margin-right: 200px;
  margin-left: 200px;
}
.container1 {
  margin: auto;
  background-color: #1f2937;
  height: 300px; 
  width: 900px;
  align-content: center;
  padding: 45px;
  padding-left: 100px;
  padding-right: 100px;
  padding-bottom: 100px;
  margin-bottom: 50px;
}

.container3 {
  width: 950px;
  margin: auto;
  display: flex;
  }

.h1 {
  font-size: 48px;
  font-weight: bolder;
}

.header,
.footer {
    background-color: #1f2937;
}
.h1 {
    color: #f9faf8;
}

.p1 {
  font-size: 16px;
  color: gainsboro;
  font-family: 'Times New Roman', Times, serif;
}

.headerlogo {
    font-size: 24px;
    color: #f9faf8;
}

ul {
  list-style-type: none;
}

.p2 {
    background-color: #e5e7eb;
    font-size: 36px;
    color: #1f2937;
    font-family: light italic;
}

img.colors {
  margin-top: 1px;
  margin-left: 50px;
  display: flex;
  height: 200px;
  width: 500px;
  float: left;
  padding-bottom: 100px;
}


.button1,
.button2 {
    color: white;
    width: 100px;
    padding: 5px;
    border-radius: 4px;
    background-color: #3882f6;
}

.button1 {
  border-color: #3882f6;
}

.button2 {
    border: #e5e7eb;
    float: right;
    border-style: groove;
  }
    
.header {
  margin-top: 0%;
  margin-bottom: 70px;
}

.header,
.footer {
    display: flex;
    justify-content: space-between;
    }

.container {
    display: flex;
    width: 900px;
    height: 20em;
    margin: auto;
    justify-content: space-between;
    gap: 40px;
  }
  
.text {
    justify-content: space-around;
    display: flex;
    text-align: end;
  }

.container4 {
    font-size: 28px;
    font-weight: bold;
    margin: auto;
    text-align: center;
    padding-left: 200px;
    padding-right: 200px;
  }

  img {
    width: 150px;
    height: 200px;
    display: flex;
    margin: auto;
    margin-top: 43px;
    gap: 5px;
  }

 ul {
  display: flex;
  margin-top: auto;
  padding: 0;
  gap: 16px;
  color: gainsboro;
}

.text {
  display: flex;
  margin: auto;
  flex-wrap: wrap-reverse;
 }

.quotebox {
  background-color: #e5e7eb;
  margin: auto;
  margin-top: 80px;
  margin-bottom: 80px;
  height: 200px;
  width: 700px;
  padding: 80px;
  padding-left: 175px;
  padding-right: 175px;
  text-align: center;
}

.quote {
  font-size: 36px;
  font-style: italic;
  color: #1f2937;
  font-weight: lighter;
}

.venessa {
  font-size: 20px;
  font-family:'Times New Roman', Times, serif;
  padding-top: 20px;
  font-weight: bold;
  padding-left: 400px;
}

.action {
    background-color: #3882f6;
    color: white;
    padding: 30px;
    height: 40px;
    width: 600px;
    margin: auto;
    margin-bottom: 50px;
}
.action {
  background-color: #3882f6;
  margin: auto;
  padding: 20px;
}

.call {
color: gainsboro;
}

.time {
  font-size: 15px;
  font-weight: bold;
}

.time,
.call {
  padding-left: 100px;
}


.footer {
    height: 30px;
    width: 900px;
    padding: 16px;
    justify-content: center;
    text-align: center;
    margin: auto;
    margin-top: 50px;
    font-size: 14px;
    color: rgb(172, 167, 167);
  }