.header {
    background-color: #1f2937;
}
.footer {
    background-color: #1f2937;
}

.header {
    font-size: 48px;
    font-weight: bolder;
    font color: #f9faf9;
}

.headerlogo {
    font-size: 24px;
    color: #f9faf8;
}

.action {
    background-color: #3882f6;
    margin: 30px;
    padding: 20px;
}

.p2 {
    background-color: #e5e7eb;
    font-size: 36px;
    color: #1f2937;
    font-family: light italic;
}

.links {
    font-size: 18px;
    color: #e5e7eb;
}
nav {}

.button1 {
    background-color: #3882f6;
    color: white;
    padding: 4px;
}
.button2 {
    background-color: #3882f6;
    color: white;
    border: #e5e7eb;
}
    
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 8px;
    margin: 40px;
  }

.link {
    display: flex;
    margin: 0;
    padding: 0;
    gap: 16px;
  }
  ul {
    list-style-type: none;
  }


  